.agendamento{
    background-color: red;
    padding: 2.5vw;
    text-align: center;
        h2{
            color: #fff;
            padding: 20px 0;
            margin-bottom: 4em;
        }
        .button{
            padding: 10px;
            width: 300px;
            margin-left: 50px;
            
        }
        form{
            label{
                font-size: 20px;
                margin-right: 10px;
            }
            input{
                padding: 5px;
                margin-right: 10px;
            }
            select{
                padding: 5px;
            }
        }
    }